* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;

    /* variables for dark mode */
    --main_background-dark: rgb(29, 28, 28);
    --titles_color-dark: rgb(255, 255, 255);
    --desc_color-dark: rgb(221, 216, 216);
    --blue_color-dark: rgb(157, 157, 255);
    --border-dark: rgb(102, 102, 102);
    --shadow-dark: 4px 4px 6px -2px rgba(99, 99, 99, 1);
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--main_background-dark);
}

.container {
    max-width: 94vw;
    padding: 2rem 1rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.header_container {
    margin-bottom: 2.8rem;
    position: relative;
}

.theme {
    position: absolute;
    right: 0;
    top: -5px;
    background-color: var(--titles_color-dark);
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    border: none;
    display: grid;
    place-items: center;
}

.theme:hover #mode-icon {
    transform: scale(1.25);
}

.theme:hover {
    opacity: 0.8;
}

.header_title {
    margin-bottom: 1rem;
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;
    color: var(--titles_color-dark);
}

.header_desc {
    max-width: 568px;
    text-align: center;
    color: var(--desc_color-dark);
    margin: 0 auto;
}

.main_container {
    display: grid;
    gap: 1.1rem;
    grid-template-columns: repeat(1, 1fr);
}

@media (min-width:600px) {
    .main_container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width:900px) {
    .main_container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width:1080px) {
    .main_container {
        grid-template-columns: repeat(4, 1fr);
    }
}

.card_container {
    display: flex;
    flex-direction: column;
    border: 1.3px solid var(--border-dark);
    border-radius: 7px;
    overflow: hidden;
    box-shadow: var(--shadow-dark);
}

.card_image_container {
    position: relative;
    overflow: hidden;
    height: 10rem;
}

@media (min-width: 768px) {
    .card_image_container {
        height: 15rem;
    }
}

.card_image {
    object-fit: cover;
    object-position: center center;
    position: absolute;
    height: 100%;
    width: 100%;
}

.card_title_container {
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
}

.card_container:hover .card_image {
    transform: scale(1.1);
    transition-duration: 200ms;
}

.card_title {
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.5rem;
    margin-bottom: 0.3rem;
    color: var(--titles_color-dark);
}

.card_title_anchor:hover .card_title {
    color: var(--blue_color-dark);
}

.card_desc {
    color: var(--desc_color-dark);
    font-size: 1rem;
}

.card_footer_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1.5rem 1rem;
}

.author_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.56rem;
}

.author_avatar_container {
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    border: 1px solid var(--border-dark);
    border-radius: 50%;
    background-color: rgb(231, 231, 231);
}

.author_info_container {
    display: flex;
    flex-direction: column;
}

.author_info_container>:nth-child(1) {
    color: var(--blue_color-dark);
}

.author_info_container>:nth-child(2) {
    color: rgb(128, 128, 128);
    font-size: 0.85rem;
}

.card_tag_container>span {
    cursor: pointer;
    font-size: 0.9rem;
    border: 1px solid var(--border-dark);
    border-radius: 2px;
    line-height: 1.5rem;
    padding: 0.25rem 0.5rem;
    color: var(--desc_color-dark);
}